

.nirwana {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    height: 100vh; 
  }
  @import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .nirwana h1 {
    font-family: "Sedan SC", serif;
    margin-bottom: 40px;
    font-size: 55px;
    animation: fadeIn ease-in-out 5s; 
  }
  .nirwana img {
    width: 500px;
    height: 400px;
  }
  
  .vid {
    justify-content: center;
    width: 50%; 
    position: absolute;
    margin-bottom: 50px;
    z-index: -1;
    position: absolute;
    justify-content: center;
  }
  
